#experience{
  font-family: 'Volkhov', serif;
  font-size: 25px;
  color: #ffffff;
  background-color: #48335A;
}

#title{
  font-family: 'Volkhov', serif;
  font-size: 25px;
  color: #ffffff;
  background-color: #48335A;
}

#education{
  font-family: 'Volkhov', serif;
  font-size: 25px;
  color: #ffffff;
  background-color: #48335A;
}

#skills{
  font-family: 'Volkhov', serif;
  font-size: 25px;
  color: #ffffff;
  background-color: #48335A;
}

#contact{
  font-family: 'Volkhov', serif;
  font-size: 25px;
  color: #48335A;
}

#layout{
  margin: 0 auto;
  width: 900px;
}

#nav {
  font-family: 'Volkhov', serif;
}

#social{
  margin: 0 auto;
  text-align: center;
}

#description{
  font-size: 20px;
  font-family: Arial, sans-serif;
}

#copyright {
  color: #000000;
  font-size: 15px;
  font-family: 'Volkhov', serif;
  text-align: center;
}

.text{
  font-size: 18px;
  font-family: Arial, sans-serif;
}

.share{
   padding-left: 20px;
   padding-right: 20px;
}

.jobtitle {
font-size: 22px;
font-weight: bold;
font-family: Arial, sans-serif;
}

.organization {
  font-size: 20px;
  font-family: Arial, sans-serif;
}

.resume{
  font-size: 22px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  text-align: center;
}

.date {
  font-size: 18px;
  font-family: Arial, sans-serif;
  font-style: italic;
}

.degree{
  font-size: 20px;
  font-family: Arial, sans-serif;
}
