body {
  background-color: #E5E2E6;
}


.container {
margin: 0 auto;
width: 800px;
max-width:100%;
font-family: Arial, sans-serif;
background-color: white;
padding-left: 20px;
padding-right: 20px;
}

#pi iframe{
  float: left;
  padding-right: 1em;
}

#pie iframe{
  float: left;
  padding-right: 1em;
}

#footer img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#header img {
  max-width: 800px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#hed {
font-family: "Volkhov", Helvetica, serif;
}

#bar{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#time{
  max-width: 800px;
  width: 100%;
}

.intro-pic img {
  max-width: 800px;
  width: 100%;
}

.block {
  color: #301934;
  font-size: 1.3em;
  font-style: italic;
  font-family: "Volkhov", Helvetica, serif;
  width:100%;
  margin: 30px auto;
  color: #555555;
  padding:.4em 20px .4em 50px;
  border-left:8px solid #301934;
  line-height:1.6;
  position: relative;
  background: #F5F5F5;
  }

  .block::before{
    font-family: "Volkhov", Helvetica, serif;
    content: "\201C";
    color: #301934;
    position: absolute;
    left: 1em;
    top:-1em;
  }

  .block span{
    display:block;
    color:#301934;
    font-style: normal;
    font-weight: bold;
    font-size: .9em;
    margin-top:.5em;
  }

figcaption {
  color: #696969;
  font-family: Arial, sans-serif;
  font-size: .9em;
}

#nav {
  ]display:block;
 position: sticky;
 top:0;
 left:0;
 right:0;
 width:100%;
}

#more{
  width: 100%;
  max-width:750px
  margin: 0 auto;
  font-family: "Volkhov", Helvetica, serif;
}

#footer img{
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
}

#video iframe{
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
}
