
.container {
margin: 0 auto;
max-width: 800px;
}

#footer img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header img {
  max-width: 800px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;


}

.pie img {
 width: 100%;
 display: block;
max-height: 350px;
}

#bar{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#time{
  max-width: 800px;
}

.intro-pic img {
  max-width: 800px;
  width: 100%;
}

.block {
  color: #301934;
  font-size: 1.5em;
  font-style: italic;
}

figcaption {
  color: #696969;
}
