/*styles for my resume*/

body {
  font-family: 'Open Sans';, Arial, sans-serif;
  font-size: 1em;
  color: #444;
  font-weight: 400;
}

#container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px;
}

/*Name*/
#name {
  font-size: 3em;
  color: #33485e;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid #33485e;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
}

/* contact info*/
.menu {
  padding: 0;
  margin: 0;
  text-align: center;
}

.menu li {
  display: inline;
}

/*Title*/
#title{
  font-size: 1.5em;
  font-weight: 600;
  color: #33485e;
  text-align: center;
  margin-top: 20px;
}

/*my current description*/
.description {
  margin-top: 10px;
  margin-bottom:10px;
}

/*Section*/
.sectionheader {
  font-size: 1.5em;
  color: #ffffff;
  background-color: #33485e;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 20px;
  width: 70%;
  min-width: 300px;
}

/*Title*/
.jobtitle {
  font-size: 1.5em;
  font-weight: 600;
}

/*Organization*/
.organization {
  font-size: 1.25em;
  font-weight: 400;
}

/*-Date*/
.date {
  font-size: 1em;
  font-style: italic;
  margin-top: 5px;
}

/*--title*/
ul{
  font-size: 1em;
}

/*Title*/
.jobtitle {
  font-size: 1.5em;
  font-weight: 600;
}

/*Organization*/
.organization {
  font-size: 1.25em;
  font-weight: 400;
}

/*-Date*/
.date {
  font-size: 1em;
  font-style: italic;
  margin-top: 5px;
}

/*--title*/
ul{
  font-size: 1em;
}

/*Title*/
.jobtitle {
  font-size: 1.5em;
  font-weight: 600;
}

/*Organization*/
.organization {
  font-size: 1.25em;
  font-weight: 400;
}

/*-Date*/
.date {
  font-size: 1em;
  font-style: italic;
  margin-top: 5px;
}

/*--title*/
ul{
  font-size: 1em;
}

/*Title*/
.jobtitle {
  font-size: 1.5em;
  font-weight: 600;
}

/*Organization*/
.organization {
  font-size: 1.25em;
  font-weight: 400;
}

/*-Date*/
.date {
  font-size: 1em;
  font-style: italic;
  margin-top: 5px;
}

/*--title*/
ul{
  font-size: 1em;
}

/*Title*/
.jobtitle {
  font-size: 1.5em;
  font-weight: 600;
}

/*Organization*/
.organization {
  font-size: 1.25em;
  font-weight: 400;
}

/*-Date*/
.date {
  font-size: 1em;
  font-style: italic;
  margin-top: 5px;
}

/*--title*/
ul{
  font-size: 1em;
}

/*Title*/
.jobtitle {
  font-size: 1.5em;
  font-weight: 600;
}

/*Organization*/
.organization {
  font-size: 1.25em;
  font-weight: 400;
}

/*-Date*/
.date {
  font-size: 1em;
  font-style: italic;
  margin-top: 5px;
}

/*--title*/
ul{
  font-size: 1em;
}

/*Section*/
.sectionheader {
  font-size: 1.5em;
  color: #ffffff;
  background-color: #33485e;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 20px;
  width: 70%;
  min-width: 300px;
}

/*--title*/
ul{
  font-size: 1em;
}

/*Section*/
.sectionheader {
  font-size: 1.5em;
  color: #ffffff;
  background-color: #33485e;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 20px;
  width: 70%;
  min-width: 300px;
}

/*--title*/
ul{
  font-size: 1em;
}
