/*styles for my resume*/

body {
  font-family: 'Open Sans';, Arial, sans-serif;
  font-size: 1em;
  color: #444;
  font-weight: 400;
}

/*Name*/
h1 {
  font-size: 3em;
  color: #33485e;
  text-transform: uppercase;
}

/*Title*/
strong{
  font-size 1.5em;
  color: #33485e;
}

/*Section*/
h2 {
  font-size: 3em;
  color: #ffffff;
  background-color: #33485e;
  font-weight: 400;
  text-transform: uppercase;
}

/*Title*/
h3 {
  font-size: 1.5em;
  font-weight: 600;
}

/*Organization*/
h4 {
  font-size: 1.5em;
  font-weight: 400;
}

/*-Date*/
h5 {
  font-size: 1em;
  font-style: italic;
}

/*--title*/
ul{
  font-size: 1em;
}

/*Section*/
h2 {
  font-size: 3em;
  color: #ffffff;
  background-color: #33485e;
  font-weight: 400;
  text-transform: uppercase;
}

/*Title*/
h3 {
  font-size: 1.5em;
  font-weight: 600;
}

/*Organization*/
h4 {
  font-size: 1.5em;
  font-weight: 400;
}

/*-Date*/
h5 {
  font-size: 1em;
  font-style: italic;
}

/*--title*/
ul{
  font-size: 1em;
}

/*Section*/
h2 {
  font-size: 3em;
  color: #ffffff;
  background-color: #33485e;
  font-weight: 400;
  text-transform: uppercase;
}

/*Title*/
h3 {
  font-size: 1.5em;
  font-weight: 600;
}

/*Organization*/
h4 {
  font-size: 1.5em;
  font-weight: 400;
}

/*-Date*/
h5 {
  font-size: 1em;
  font-style: italic;
}

/*--title*/
ul{
  font-size: 1em;
}

/*Section*/
h2 {
  font-size: 3em;
  color: #ffffff;
  background-color: #33485e;
  font-weight: 400;
  text-transform: uppercase;
}

/*Title*/
h3 {
  font-size: 1.5em;
  font-weight: 600;
}

/*Organization*/
h4 {
  font-size: 1.5em;
  font-weight: 400;
}

/*-Date*/
h5 {
  font-size: 1em;
  font-style: italic;
}

/*--title*/
ul{
  font-size: 1em;
}

/*Section*/
h2 {
  font-size: 3em;
  color: #ffffff;
  background-color: #33485e;
  font-weight: 400;
  text-transform: uppercase;
}

/*Title*/
h3 {
  font-size: 1.5em;
  font-weight: 600;
}

/*Organization*/
h4 {
  font-size: 1.5em;
  font-weight: 400;
}

/*-Date*/
h5 {
  font-size: 1em;
  font-style: italic;
}

/*--title*/
ul{
  font-size: 1em;
}

/*Section*/
h2 {
  font-size: 3em;
  color: #ffffff;
  background-color: #33485e;
  font-weight: 400;
  text-transform: uppercase;
}

/*Title*/
h3 {
  font-size: 1.5em;
  font-weight: 600;
}

/*Organization*/
h4 {
  font-size: 1.5em;
  font-weight: 400;
}

/*-Date*/
h5 {
  font-size: 1em;
  font-style: italic;
}

/*--title*/
ul{
  font-size: 1em;
}

/*Section*/
h2 {
  font-size: 3em;
  color: #ffffff;
  background-color: #33485e;
  font-weight: 400;
  text-transform: uppercase;
}

/*--title*/
ul{
  font-size: 1em;
}

/*Section*/
h2 {
  font-size: 3em;
  color: #ffffff;
  background-color: #33485e;
  font-weight: 400;
  text-transform: uppercase;
}

/*--title*/
ul{
  font-size: 1em;
}
