<!--styles for my resume!-->

body {
  font-family: 'Open Sans';, Arial, sans-serif;
  font-size: 1em;
  color: #444;
  font-weight: 400;
}

<!--styles for my resume!-->
h1 {
  font-size: 3em;
  color: #33485e;
  text-transform: uppercase;
}

<!--styles for my resume!-->
strong{
  font-size 1.5em;
  color: #33485e;
}

<!--styles for my resume!-->
h2 {
  font-size: 3em;
  color: #ffffff;
  background-color: #33485e;
  font-weight: 400;
  text-transform: uppercase;
}

<!--styles for my resume!-->
h3 {
  font-size: 1.5em;
  font-weight: 600;
}

<!--styles for my resume!-->
h4 {
  font-size: 1.5em;
  font-weight: 400;
}

<!--styles for my resume!-->
h5 {
  font-size: 1em;
  font-style: italic;
}
