/*so very tired but I know how to comment*/
p{
  font-family: Helvetica, Arial, sans-serif;
  font-size:12px
}

h3{
font-size: 15px;
font-family: Times, serif;
}

figure{
  display: inline-block;
  text-align: left;
}

/*div container for the whole body*/
#layout {
  align-content: center;
  width: 750px;
  margin: auto;
}

h1{
  font-size: 30px;
  font-family: Times, serif;
}

h3{
  font-size: 20px;
  font-family: Times, serif;
}
/*pull quote that matches masthead*/
blockquote{
  color: #567d46;
  font-size: 20px;
  font-family: Helvetica, Arial, sans-serif;
}

#more{
  align-content: center;
  width: 750px;
  margin: auto;
}

h2{
font-size: 20px;
font-family: Times, serif;
}

.pic{
  align-content: center;
  width: 750px;
  margin: auto;
}

#byline {
  font-size: 18px;
  font-family: Times, serif;
}

figcaption {
  color: #555555;
  font-family: Helvetica, Arial, sans-serif;
}
